.productBox {
  width: 300px;
  height: 550px;
  border: 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff36;
  text-decoration: none;
  
}
.noneDeco {
  text-decoration: none ;
}
.brndProduct {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  color: #262626bf;
  font-weight:600;
  text-decoration: none;
}
.infoContainer {
  width: 90%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.prdctTitle {
  width: 90%;
  height: 20%;
  display: flex;
}
.priceStyle {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e70000d3;
  animation: price 5s linear infinite alternate;
  /* color: #fff700d6; */
  font-weight: 700;
}
.prdctDescrip {
  width: 90%;
  height: 60%;
  overflow-y: scroll;
  
  justify-content: center;
  align-items: center;
}

body::-webkit-scrollbar {
  width: 8px;
}
body {
  scrollbar-width: thin;
}
body::-webkit-scrollbar-track {
  background-color: #00648F;
}
body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 20px solid #00000055;
}


.prdctDescrip::-webkit-scrollbar {
  width: 5px;
}
.prdctDescrip {
  scrollbar-width: thin;
  
}
.prdctDescrip::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 20px solid #00000055;
}


/* .prdctImages :hover {
  border-radius: 20px;
  transition: 1s;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
} */

.prdctImages {
  width: 100%;
  height: 45%;
}

.container {
  display: flex;
  width: 100vw;
  height: fit-content;
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-vector%2Ffloral-pattern-background-vector-remixed-from-artworks-by-charles-goy_16257449.htm&psig=AOvVaw07Ym0LEYaARvDXQEiHXKM0&ust=1668765081778000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCODR_sH4tPsCFQAAAAAdAAAAABAD");
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20%;

  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, #004870, #00648F, #004870);
}
  
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* @keyframes scrollGradient {
  0% {
    background-color: #00648F;
  }
  50% {
    background-color: #3982AF;
  }
  100% {
    background-color: #5EA2D0;
  }
} */
.srchBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 20px;
}

.inContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 0 5% 5% 5%;
}

.btnBox{
  height: 90%;
  width: 3%;
  border-radius: 10px;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  animation: grdntText 5s linear infinite alternate;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

}

::placeholder {
  color: #0d2e5e;
}

.srchBox {
  height: 70%;
  width: 300px;
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  animation: srchGradient 5s linear infinite alternate;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

}
@keyframes grdntText {
  0% {
    color: #F9F871;
  }
  25% {
    color: #FF00B9 ;
  } 
  50% {
    color: #FFC23D;
  }
  75% {
    color: #FF0076;
  }
  100% {
    color: #FF7D47;
  }
}

@keyframes speacialTexts {
  0% {
    color: #107d31;
  }
  25% {
    color: #1e12c5 ;
  } 
  50% {
    color: #189755;
  }
  75% {
    color: #861248;
  }
  100% {
    color: #1c6e77;
  }
}

@keyframes price {
  0% {
    color: #FF7D47;
  } 
  50% {
    color: #F9F871;
  }
  100% {
    color: #FF7D47;
  }
}

@keyframes srchGradient {
  0% {
    color: #FF0076;
  } 
  50% {
    color: #23a6d5;
  }
  100% {
    color: #23d5ab;
  }
}

@keyframes grayText {
  0% {
    color: gainsboro;
  } 
  50% {
    color: white;
  }
  100% {
    color: gainsboro;
  }
}


/* Product news style */

.infoContainer p, h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #0d2e5e;
}

.productNewsContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background: linear-gradient(-45deg, #004870, #00648F, #004870);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.productNewsContainer p, h1, h2, span {
  color: #D6ECF6;
}

header {
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: #4C4452;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.brendNew {
  color: #F9F871;
  font-size: 18px;
  height: 10px;
}
.newsTitle {
  height: 10px;
}
.itHelpsYou {
  animation: grayText 1.5s linear infinite alternate;
}
.siteLogo {
  animation: grdntText 5s linear infinite alternate;
  font-size: 20px;
}
.garchigAndMore {
  width: 55%;
  display: flex;
  flex-direction: column;
  
  gap: 15px;
}
.header {
  margin-top: 100px;
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.picks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 35%;
}
.newsImg {
  width: 100%;
  border-radius: 50px;
}
.spclText {
  animation: speacialTexts 3s linear infinite alternate;
}

/* Loading screen style ====>>>*/

.loadingScreen  {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(-45deg, #004870, #00648F, #004870);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

