.container {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 50%;
    background-color: #081230;
    gap: 20px;
}
.srchBox {
    width: 20%;
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
    border: 0;
    outline: none;
}
.btnBox {
    padding: 5px;
    font-size: 15px;
    width: 5%;
    border-radius: 15px;
    height: 90%;
}
.srchBoxContainer {
    width: 100wv;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}
.userBox {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    display: flex;
    border-radius: 20px;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #081230;
    color: #fff;
}
.userBoxContainer {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
}
.loadingScreen {
    background-color: #081230;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}